.notification {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px 0px;
    font-size: 12px;
    display: table;
    &.success {
        background: green;
        color: white;
    }
    &.error {
        border: 1px solid red;
        color: black;
    }
}