.input__wrapper {
    margin-bottom: 20px;
    label {
        font-size: 20px;
        color: $mainColor;
        transition: 0.3s all;
    }
    input {
        border-radius: 4px;
        color: $mainColor;
        &::focus {
            border: 1px solid black;
            transition: 0.3s all;
        }
    }
    @media(max-width: 580px) {
        margin-bottom: 10px;
    }
}